@import "../../../shared/sass/animations";
@import "../../../shared/sass/base";

body {
 width: 100%;
 height: 100%;
}

.print {
 width: 100%;
 text-align: right;
 &__icon {
  padding: 8px 20px;
  margin: 5px 25px 0 0;
  background: $color-light;
  @include shadow-radius;
  &:hover {
   cursor: pointer;
   background: white;
  }
 }
}

.week {
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
 gap: 0.7rem;
 width: 100%;
 height: 100%;
 padding: 14px;
}

.day-menu {
 display: flex;
 flex-direction: column;
 min-height: 200px;
 padding: 0 0 3px 0;
 margin: 0 0 24px 0;
 background: $color-light;
 @include shadow-radius;
 &:hover {
  filter: brightness(110%);
  cursor: pointer;
 }
 &__heading {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  background: #ddd;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  &--day {
   font: bold 18px $heading-font;
   text-align: center;
  }
  &--date {
   font: 14px $main-font;
  }
 }
 &__menu-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1px 10px;
  font: 14px $main-font;
 }
}

@media print {
 @page {
  size: landscape;
 }

 .week {
  background: none;
 }

 .day-menu {
  color: $color-main;
  background: none;
  border: solid 1px;
  box-shadow: none;
  &__heading {
   background: #eee;
   color: $color-main;
  }
 }
}
