@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@-webkit-keyframes pulse-keyframes {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulse-keyframes {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fade-in-opacity-keyframes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-opacity-keyframes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scale-up-keyframes {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-keyframes {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.loader {
  font: 12px "Lato", sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

.print {
  width: 100%;
  text-align: right;
}

.print__icon {
  padding: 8px 20px;
  margin: 5px 25px 0 0;
  background: #f3f3f3;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 3px #777, 0 0 3px #777;
          box-shadow: 0 2px 3px #777, 0 0 3px #777;
}

.print__icon:hover {
  cursor: pointer;
  background: white;
}

.week {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 0.7rem;
  width: 100%;
  height: 100%;
  padding: 14px;
}

.loader {
  width: 100%;
  height: 100%;
  text-align: center;
}

.day-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 200px;
  padding: 0 0 3px 0;
  margin: 0 0 24px 0;
  background: #f3f3f3;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 3px #777, 0 0 3px #777;
          box-shadow: 0 2px 3px #777, 0 0 3px #777;
}

.day-menu:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  cursor: pointer;
}

.day-menu__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 50px;
  background: #ddd;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.day-menu__heading--day {
  font: bold 18px "Poppins", sans-serif;
  text-align: center;
}

.day-menu__heading--date {
  font: 14px "Lato", sans-serif;
}

.day-menu__menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1px 10px;
  font: 14px "Lato", sans-serif;
}

@media print {
  @page {
    size: landscape;
  }
  .week {
    background: none;
  }
  .day-menu {
    color: #000;
    background: none;
    border: solid 1px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .day-menu__heading {
    background: #eee;
    color: #000;
  }
}
/*# sourceMappingURL=week.css.map */