@import "../../../shared/sass/animations";
@import "../../../shared/sass/base";
html {
 background: none;
}
body {
 background: #ccc;
 width: 100%;
 height: 100%;
}
.print {
 background: #ccc;
 width: 100%;
 text-align: right;
}
.print__icon {
 background: #eee;
 padding: 8px 20px;
 margin: 5px 25px 0 0;
 @include shadow-radius;
 &:hover {
  cursor: pointer;
  background: white;
 }
}

.week {
 width: 100%;
 height: 100%;
 padding: 10px;
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
 gap: 0.7rem;
}

.week__day-card {
 display: flex;
 flex-direction: column;
 min-height: 200px;
 background: $bkgd;
 @include shadow-radius;
 &:hover {
  filter: brightness(110%);
  cursor: pointer;
 }
}
.day-card__menu-item {
 padding: 1px 10px;
 display: flex;
 justify-content: space-between;
 flex-flow: row nowrap;
 align-items: flex-start;
 font: 14px $main-font;
}

.day-card__heading {
 display: flex;
 justify-content: space-around;
 flex-flow: row nowrap;
 align-items: center;
 width: 100%;
 height: 50px;
 border-top-left-radius: 6px;
 border-top-right-radius: 6px;
 background: #ddd;
}

.heading__day {
 font: bold 18px $heading-font;
 text-align: center;
}
.heading__date {
 font: 14px $main-font;
}

@media print {
 @page {
  size: landscape;
 }
 .week {
  background: none;
 }
 .week__day-card {
  background: none;
  color: black;
  background: none;
  border: solid 1px;
  box-shadow: none;
 }
 .day-card__heading {
  background: #eee;
  color: black;
 }
}
