@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@-webkit-keyframes pulse-keyframes {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulse-keyframes {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fade-in-opacity-keyframes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-opacity-keyframes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scale-up-keyframes {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-keyframes {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body {
  width: 100%;
  height: 100%;
}

.print {
  width: 100%;
  text-align: right;
}

.print__icon {
  background: #eee;
  padding: 8px 20px;
  margin: 5px 25px 0 0;
  -webkit-box-shadow: 0 2px 3px #777, 0 0 3px #777;
          box-shadow: 0 2px 3px #777, 0 0 3px #777;
  border-radius: 6px;
}

.print__icon:hover {
  cursor: pointer;
  background: white;
}

.week {
  width: 100%;
  height: 100%;
  padding: 14px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 0.7rem;
}

.week__day-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 200px;
  background: #f3f3f3;
  margin-bottom: 24px;
  -webkit-box-shadow: 0 2px 3px #777, 0 0 3px #777;
          box-shadow: 0 2px 3px #777, 0 0 3px #777;
  border-radius: 6px;
}

.week__day-card:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  cursor: pointer;
}

.day-card__menu-item {
  padding: 1px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font: 14px "Lato", sans-serif;
}

.day-card__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: #ddd;
}

.heading__day {
  font: bold 18px "Poppins", sans-serif;
  text-align: center;
}

.heading__date {
  font: 14px "Lato", sans-serif;
}

@media print {
  @page {
    size: landscape;
  }
  .week {
    background: none;
  }
  .week__day-card {
    background: none;
    color: black;
    background: none;
    border: solid 1px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .day-card__heading {
    background: #eee;
    color: black;
  }
}
/*# sourceMappingURL=week.css.map */