@import "../../../shared/sass/animations";
@import "../../../shared/sass/base";

.day {
 height: 100%;
 z-index: 0;
 display: flex;
 flex-direction: column;
}
.button {
 @include btn;
 &--checkout-item {
  @include btn;
  background: $bkgd;
  font-size: 10px;
  margin: 2px 4px;
  padding: 1px 7px;
 }
}

.day__back {
 grid-area: back;
 @include btn;
 width: 100px;
 height: 30px;
 padding: 3px 20px;
 margin: 0 0 10px 15px;
 font-size: 14px;
 background: $bkgd;
 //  background: rgb(223, 122, 122);
}

.day__button-bar {
 display: flex;
 align-items: center;
 justify-content: space-evenly;
}

.checkout {
 display: grid;
 grid-template-columns: auto 600px auto auto;
 grid-template-areas: "back checkout";
}
.day__checkout {
 grid-area: checkout;
 display: flex;
 flex-direction: column;
 //  height: 350px;
 max-height: 300px;
 min-height: 200px;
 min-width: 600px;
 padding: 10px;
 //  margin: 0 40px;
 background: $bkgd;
 @include shadow-radius;
}
.checkout__heading {
 font: 22px $heading-font;
 text-align: center;
}
.checkout__board {
 padding: 3px;
 height: 100%;
 flex-grow: 1;
 display: flex;
 flex-direction: column;
 overflow: scroll;
 background: $bkgd-white;

 border-radius: 10px;
}
.board__empty-text {
 font: 14px $main-font;
}

.checkout-board {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-around;
 font: 14px $main-font;
 &:nth-child(2n) {
  background: rgba(204, 204, 204, 0.5);
 }
}
.checkout-board__name {
 flex-grow: 1;
 padding: 0 10px;
}

.checkout__button-bar {
 display: flex;
 align-items: flex-end;
 justify-content: flex-end;
 padding: 0 10px;
 margin: 0;
 .button {
  margin: 2px 5px;
  padding: 3px 5px;
  &--checkout-submit {
   @extend .button;
   background: #b4e2b4;
  }
 }
}

.day__search-filter {
 padding: 4px;
 margin: 0 20px;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 flex-wrap: wrap;
}

.day__search {
 margin: 2px 40px 0 0;
 input {
  font-size: 14px;
  margin: 10px 0 0 0;
  padding: 3px 4px;
  border-radius: 8px;
 }
}
.search__alert {
 font: 25px $main-font;
 color: black;
 margin: 10px;
}

.search__display-list {
 margin: 0;
 padding: 0;
 display: flex;
 flex-direction: column;
 position: absolute;
 z-index: 2;
 padding: 10px 0;
 @include shadow-radius;
 background: $bkgd-white;
}

.display-list__container {
 padding: 0 10px;
 &:hover {
  background: #aaa;
  color: white;
  cursor: pointer;
 }
}
.display-list__name {
 font: 16px $main-font;
 margin: 0;
 padding: 0;
}

.day__filters {
 padding: 4px;
 margin: 0 20px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
}

.filters__button {
 padding: 4px 18px 4px 6px;
 border-radius: 20px;
 margin: 0px 2px;
 border: solid 2px #555;
 color: black;
 font-size: 12px;
 &:hover {
  cursor: pointer;
 }
 &--add {
  @extend .filters__button;
  background: none;
 }
 &--clear-all {
  @extend .filters__button;
  padding: 4px 6px;
  background: none;
 }
 &--remove {
  @extend .filters__button;
  background: #ddd;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 4px 4px 6px;
 }
}

.svg__close {
 margin: 0 2px;
 stroke: black;
 width: 10px;
 height: 10px;
}

.checkout-board__buttons {
 padding: 0 20px;
}

.day__menu {
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
.menu__card {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 padding: 10px;
 margin: 10px;
 height: 100px;
 background-color: $bkgd;
 @include shadow-radius;

 .title {
  color: #444;
  font: 12px $main-font;
 }
 .card-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50%;
  padding: 0;
  margin: 0;
  button {
   height: 30px;
   width: 20px;
   flex-basis: 40%;
   border: none;
   text-transform: uppercase;
   @include shadow-radius;
   border: none;
   &:hover:enabled {
    background: #555;
    color: white;
   }
  }
 }
 .add {
  height: 35px;
  width: 35px;
  font-size: 18px;
 }

 .svg__heart {
  height: 50%;
  width: 50%;
  fill: #ccc;
 }
 .heart {
  padding: 4px 0 0 0;
  &--fav {
   @extend .heart;
   .svg__heart {
    fill: #ff7474;
   }
  }
 }
 &--disabled {
  @extend .menu__card;
  filter: invert(20%);
 }
}
@media screen and (max-width: 600px) {
 .checkout__submit {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  padding: 10px;
 }
}
