@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@-webkit-keyframes pulse-keyframes {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulse-keyframes {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fade-in-opacity-keyframes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-opacity-keyframes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scale-up-keyframes {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-keyframes {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.day {
  height: 100%;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.button, .checkout__button-bar .button--checkout-submit {
  padding: 7px 7px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 2px 3px #777, 0 0 3px #777;
          box-shadow: 0 2px 3px #777, 0 0 3px #777;
  border-radius: 6px;
  color: black;
  background: white;
  font: 12px "Poppins", sans-serif;
  border: none;
}

.button:enabled, .checkout__button-bar .button--checkout-submit:enabled {
  cursor: pointer;
}

.button:disabled, .checkout__button-bar .button--checkout-submit:disabled {
  -webkit-filter: opacity(30%);
          filter: opacity(30%);
}

.button:hover:enabled, .checkout__button-bar .button--checkout-submit:hover:enabled {
  background: #555;
  color: white;
}

.button--checkout-item {
  padding: 7px 7px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 2px 3px #777, 0 0 3px #777;
          box-shadow: 0 2px 3px #777, 0 0 3px #777;
  border-radius: 6px;
  color: black;
  background: white;
  font: 12px "Poppins", sans-serif;
  border: none;
  background: #f3f3f3;
  font-size: 10px;
  margin: 2px 4px;
  padding: 1px 7px;
}

.button--checkout-item:enabled {
  cursor: pointer;
}

.button--checkout-item:disabled {
  -webkit-filter: opacity(30%);
          filter: opacity(30%);
}

.button--checkout-item:hover:enabled {
  background: #555;
  color: white;
}

.day__back {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: back;
  padding: 7px 7px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 2px 3px #777, 0 0 3px #777;
          box-shadow: 0 2px 3px #777, 0 0 3px #777;
  border-radius: 6px;
  color: black;
  background: white;
  font: 12px "Poppins", sans-serif;
  border: none;
  width: 100px;
  height: 30px;
  padding: 3px 20px;
  margin: 0 0 10px 15px;
  font-size: 14px;
  background: #f3f3f3;
}

.day__back:enabled {
  cursor: pointer;
}

.day__back:disabled {
  -webkit-filter: opacity(30%);
          filter: opacity(30%);
}

.day__back:hover:enabled {
  background: #555;
  color: white;
}

.day__button-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.checkout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 600px auto auto;
      grid-template-columns: auto 600px auto auto;
      grid-template-areas: "back checkout";
}

.day__checkout {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: checkout;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 300px;
  min-height: 200px;
  min-width: 600px;
  padding: 10px;
  background: #f3f3f3;
  -webkit-box-shadow: 0 2px 3px #777, 0 0 3px #777;
          box-shadow: 0 2px 3px #777, 0 0 3px #777;
  border-radius: 6px;
}

.checkout__heading {
  font: 22px "Poppins", sans-serif;
  text-align: center;
}

.checkout__board {
  padding: 3px;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: scroll;
  background: #f3f3f3;
  border-radius: 10px;
}

.board__empty-text {
  font: 14px "Lato", sans-serif;
}

.checkout-board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font: 14px "Lato", sans-serif;
}

.checkout-board:nth-child(2n) {
  background: rgba(204, 204, 204, 0.5);
}

.checkout-board__name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 10px;
}

.checkout__button-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 10px;
  margin: 0;
}

.checkout__button-bar .button, .checkout__button-bar .button--checkout-submit {
  margin: 2px 5px;
  padding: 3px 5px;
}

.checkout__button-bar .button--checkout-submit {
  background: #b4e2b4;
}

.day__search-filter {
  padding: 4px;
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.day__search {
  margin: 2px 40px 0 0;
}

.day__search input {
  font-size: 14px;
  margin: 10px 0 0 0;
  padding: 3px 4px;
  border-radius: 8px;
}

.search__alert {
  font: 25px "Lato", sans-serif;
  color: black;
  margin: 10px;
}

.search__display-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 2;
  padding: 10px 0;
  -webkit-box-shadow: 0 2px 3px #777, 0 0 3px #777;
          box-shadow: 0 2px 3px #777, 0 0 3px #777;
  border-radius: 6px;
  background: #f3f3f3;
}

.display-list__container {
  padding: 0 10px;
}

.display-list__container:hover {
  background: #aaa;
  color: white;
  cursor: pointer;
}

.display-list__name {
  font: 16px "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

.day__filters {
  padding: 4px;
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filters__button, .filters__button--add, .filters__button--clear-all, .filters__button--remove {
  padding: 4px 18px 4px 6px;
  border-radius: 20px;
  margin: 0px 2px;
  border: solid 2px #555;
  color: black;
  font-size: 12px;
}

.filters__button:hover, .filters__button--add:hover, .filters__button--clear-all:hover, .filters__button--remove:hover {
  cursor: pointer;
}

.filters__button--add {
  background: none;
}

.filters__button--clear-all {
  padding: 4px 6px;
  background: none;
}

.filters__button--remove {
  background: #ddd;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px 4px 4px 6px;
}

.svg__close {
  margin: 0 2px;
  stroke: black;
  width: 10px;
  height: 10px;
}

.checkout-board__buttons {
  padding: 0 20px;
}

.day__menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.menu__card, .menu__card--disabled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  margin: 10px;
  height: 100px;
  background-color: #f3f3f3;
  -webkit-box-shadow: 0 2px 3px #777, 0 0 3px #777;
          box-shadow: 0 2px 3px #777, 0 0 3px #777;
  border-radius: 6px;
}

.menu__card .title, .menu__card--disabled .title {
  color: #444;
  font: 12px "Lato", sans-serif;
}

.menu__card .card-buttons, .menu__card--disabled .card-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50%;
  padding: 0;
  margin: 0;
}

.menu__card .card-buttons button, .menu__card--disabled .card-buttons button {
  height: 30px;
  width: 20px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  border: none;
  text-transform: uppercase;
  -webkit-box-shadow: 0 2px 3px #777, 0 0 3px #777;
          box-shadow: 0 2px 3px #777, 0 0 3px #777;
  border-radius: 6px;
  border: none;
}

.menu__card .card-buttons button:hover:enabled, .menu__card--disabled .card-buttons button:hover:enabled {
  background: #555;
  color: white;
}

.menu__card .add, .menu__card--disabled .add {
  height: 35px;
  width: 35px;
  font-size: 18px;
}

.menu__card .svg__heart, .menu__card--disabled .svg__heart {
  height: 50%;
  width: 50%;
  fill: #ccc;
}

.menu__card .heart, .menu__card--disabled .heart, .menu__card .heart--fav, .menu__card--disabled .heart--fav {
  padding: 4px 0 0 0;
}

.menu__card .heart--fav .svg__heart, .menu__card--disabled .heart--fav .svg__heart {
  fill: #ff7474;
}

.menu__card--disabled {
  -webkit-filter: invert(20%);
          filter: invert(20%);
}

@media screen and (max-width: 600px) {
  .checkout__submit {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px;
    padding: 10px;
  }
}
/*# sourceMappingURL=day.css.map */