@import "../../../shared/sass/animations";
@import "../../../shared/sass/base";

.day {
 display: flex;
 flex-direction: column;
 height: 100%;
 z-index: -1;
}
.button {
 @include btn;
 &--checkout-item {
  @include btn;
  background: $bkgd;
  font-size: 10px;
  margin: 2px 4px;
  padding: 1px 7px;
 }
}

.day__button-bar {
 display: flex;
 align-items: center;
 justify-content: space-evenly;
}

.checkout-back {
 display: grid;
 grid-template-columns: auto 600px auto 100px;
 grid-template-areas: "back checkout";
 &__back {
  grid-area: back;
  @include btn;
  width: 100px;
  height: 30px;
  padding: 3px 20px;
  margin: 0 6px 10px 15px;
  font-size: 14px;
  background: $bkgd;
 }
}

.checkout {
 grid-area: checkout;
 display: flex;
 flex-direction: column;
 max-height: 300px;
 min-height: 200px;
 min-width: 600px;
 padding: 10px;
 background: $bkgd;
 @include shadow-radius;
 &__heading {
  font: 22px $heading-font;
  text-align: center;
 }
 &__empty-text {
  font: 14px $main-font;
 }
 &__board {
  padding: 3px;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: scroll;
  background: $bkgd-white;
  border-radius: 10px;
 }

 &__button-bar {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 10px;
  margin: 0;
  .button {
   margin: 2px 5px;
   padding: 3px 5px;
   &--checkout-submit {
    @extend .button;
    background: #b4e2b4;
   }
  }
 }
}

.checkout-item {
 display: flex;
 flex-direction: row;
 align-items: flex-start;
 font: 14px $main-font;
 &:nth-child(2n) {
  background: rgba(204, 204, 204, 0.5);
 }
 &__name {
  flex-grow: 1;
  padding: 0 10px;
 }
 &__quantity {
  padding: 0 4px;
 }
}

.search-filter-grid {
 padding: 4px;
 margin: 0 20px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
 flex-direction: row;
}

.search {
 margin: 2px 20px 0 0;
 input {
  font-size: 14px;
  margin: 10px 0 0 0;
  padding: 3px 4px;
  border-radius: 8px;
 }
 &__alert {
  font: 14px $main-font;
  color: black;
 }
}

.search-results {
 margin: 0;
 padding: 0 10px;
 display: flex;
 flex-direction: column;
 position: absolute;
 z-index: 1;
 padding: 10px 0;
 @include shadow-radius;
 background: $bkgd-white;
 &__container {
  padding: 0 10px;
  &:hover {
   background: #aaa;
   color: white;
   cursor: pointer;
  }
 }
 &__name {
  font: 16px $main-font;
  margin: 0;
  padding: 0;
 }
}

.filters {
 display: flex;
 flex-wrap: wrap;
 align-self: center;
 justify-self: center;
 &__button {
  padding: 4px 18px 4px 6px;
  border-radius: 20px;
  margin: 0px 2px;
  border: solid 2px #555;
  color: black;
  font-size: 12px;
  &:hover {
   cursor: pointer;
  }
  &--add {
   @extend .filters__button;
   background: none;
  }
  &--remove {
   @extend .filters__button;
   border-color: #eee;
   background: #ddd;
   color: black;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 4px 4px 4px 6px;
  }
  &--clear-all {
   @extend .filters__button;
   padding: 4px 6px;
   background: none;
  }
 }
}
.svg__close {
 margin: 0 2px;
 stroke: black;
 width: 10px;
 height: 10px;
}

.food-items-grid {
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
.food-item {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 padding: 10px;
 margin: 10px;
 height: 100px;
 background-color: $bkgd;
 @include shadow-radius;
 .svg__heart {
  height: 50%;
  width: 50%;
  fill: #ccc;
 }
 &__title {
  color: #444;
  font: 12px $main-font;
 }
 &__button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50%;
  padding: 0;
  margin: 0;
  button {
   height: 30px;
   width: 20px;
   flex-basis: 40%;
   border: none;
   text-transform: uppercase;
   @include shadow-radius;
   border: none;
   &:hover:enabled {
    background: #555;
    color: white;
    cursor: pointer;
   }
  }
  &--add {
   height: 35px;
   width: 35px;
   font-size: 18px;
  }
 }
 &__heart {
  padding: 4px 0 0 0;
  &--fav {
   padding: 4px 0 0 0;
   .svg__heart {
    fill: #ff7474;
   }
  }
 }
 &__add-icon {
  font-size: 55px;
  color: #444;
  align-self: center;
 }
 &--disabled {
  @extend .food-item;
  filter: invert(20%);
 }
}

.add-food-item {
 justify-content: flex-start;
 background: #ddd;
 &__title {
  font-size: 14px;
 }
 &__icon {
  align-self: center;
  padding: 0;
  font-size: 40px;
  color: #444;
 }
 &:hover {
  filter: invert(80%);
  cursor: pointer;
 }
}

.submit-item-container {
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background-color: rgba(0, 0, 0, 0.35);
 width: 100%;
 height: 100%;
 z-index: 2;
}

.submit-item {
 display: flex;
 flex-direction: column;
 position: absolute;
 padding: 20px;
 left: 50%;
 top: 50%;
 min-width: 300px;
 transform: translate(-50%, -50%);
 @include shadow-radius;
 background: $bkgd-white;

 &__close-icon {
  align-self: flex-end;
  .svg__close {
   height: 30px;
   width: 30px;
   &:hover {
    cursor: pointer;
   }
  }
 }
 &__text {
  padding: 15px 5px;
  font: 16px $main-font;
 }
 &__text-input {
  align-self: center;

  font-size: 16px;
  margin: 5px 0;
  padding: 2px;
  width: 200px;
 }
 &__form {
  align-self: center;
  justify-self: center;
 }
 &__select {
  width: 200px;
  font-size: 16px;
  margin: 5px 0;
  padding: 2px;
 }
 &__button-container {
  align-self: center;
 }
 &__button {
  margin: 10px;
 }
}

.none {
 padding: 0;
 margin: 0;
 background: none;
 color: none;
 display: hidden;
}

@media screen and (max-width: 750px) {
 .checkout-back {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 }
}

@media screen and (max-width: 600px) {
 .checkout__submit {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  padding: 10px;
 }
 .search-filter-grid {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
 }
 .checkout-back {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 }
 .checkout {
  width: auto;
  min-width: auto;
 }
 .filters {
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  overflow-x: scroll;
  width: 100%;
  &__button {
   white-space: nowrap;
  }
 }
 .checkout-item {
  flex-wrap: nowrap;
  white-space: nowrap;
 }
 .checkout-item__name {
  white-space: nowrap;
  overflow-x: scroll;
 }
}
