@import "../../../shared/sass/animations";
@import "../../../shared/sass/base";

.day {
 height: 100%;
 z-index: 0;
 display: flex;
 flex-direction: column;
}
.button {
 @include btn;
 &--checkout-item {
  @include btn;
  background: $bkgd;
  font-size: 10px;
  margin: 2px 4px;
  padding: 1px 7px;
 }
}

.day__button-bar {
 display: flex;
 align-items: center;
 justify-content: space-evenly;
}

.checkout-back {
 display: grid;
 grid-template-columns: auto 600px auto auto;
 grid-template-areas: "back checkout";
 &__back {
  grid-area: back;
  @include btn;
  width: 100px;
  height: 30px;
  padding: 3px 20px;
  margin: 0 0 10px 15px;
  font-size: 14px;
  background: $bkgd;
 }
}

.checkout {
 grid-area: checkout;
 display: flex;
 flex-direction: column;
 //  height: 350px;
 max-height: 300px;
 min-height: 200px;
 min-width: 600px;
 padding: 10px;
 //  margin: 0 40px;
 background: $bkgd;
 @include shadow-radius;
 &__heading {
  font: 22px $heading-font;
  text-align: center;
 }
 &__empty-text {
  font: 14px $main-font;
 }
 &__board {
  padding: 3px;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  background: $bkgd-white;

  border-radius: 10px;
 }

 &__button-bar {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 10px;
  margin: 0;
  .button {
   margin: 2px 5px;
   padding: 3px 5px;
   &--checkout-submit {
    @extend .button;
    background: #b4e2b4;
   }
  }
 }
}
.checkout-item {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-around;
 font: 14px $main-font;
 &:nth-child(2n) {
  background: rgba(204, 204, 204, 0.5);
 }
 &__name {
  flex-grow: 1;
  padding: 0 10px;
 }
}

.search-filter-grid {
 padding: 4px;
 margin: 0 20px;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 flex-wrap: wrap;
 flex-direction: row;
}

.search {
 margin: 2px 40px 0 0;
 input {
  font-size: 14px;
  margin: 10px 0 0 0;
  padding: 3px 4px;
  border-radius: 8px;
 }
 &__alert {
  font: 14px $main-font;
  color: black;
 }
}

.search-results {
 margin: 0;
 padding: 0 10px;
 display: flex;
 flex-direction: column;
 position: absolute;
 z-index: 2;
 padding: 10px 0;
 @include shadow-radius;
 background: $bkgd-white;
 &__container {
  padding: 0 10px;
  &:hover {
   background: #aaa;
   color: white;
   cursor: pointer;
  }
 }
 &__name {
  font: 16px $main-font;
  margin: 0;
  padding: 0;
 }
}

.filters {
 padding: 4px;
 margin: 0 20px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
 &__button {
  padding: 4px 18px 4px 6px;
  border-radius: 20px;
  margin: 0px 2px;
  border: solid 2px #555;
  color: black;
  font-size: 12px;
  &:hover {
   cursor: pointer;
  }
  &--add {
   @extend .filters__button;
   background: none;
  }
  &--remove {
   @extend .filters__button;
   background: #ddd;
   color: black;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 4px 4px 4px 6px;
  }
  &--clear-all {
   @extend .filters__button;
   padding: 4px 6px;
   background: none;
  }
 }
}
.svg__close {
 margin: 0 2px;
 stroke: black;
 width: 10px;
 height: 10px;
}

.food-items-grid {
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
.food-item {
 background: orange;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 padding: 10px;
 margin: 10px;
 height: 100px;
 background-color: $bkgd;
 @include shadow-radius;
 .svg__heart {
  height: 50%;
  width: 50%;
  fill: #ccc;
 }
 &__title {
  color: #444;
  font: 12px $main-font;
 }
 &__button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50%;
  padding: 0;
  margin: 0;
  button {
   height: 30px;
   width: 20px;
   flex-basis: 40%;
   border: none;
   text-transform: uppercase;
   @include shadow-radius;
   border: none;
   &:hover:enabled {
    background: #555;
    color: white;
   }
  }
  &--add {
   height: 35px;
   width: 35px;
   font-size: 18px;
  }
 }
 &__heart {
  padding: 4px 0 0 0;
  &--fav {
   padding: 4px 0 0 0;
   .svg__heart {
    fill: #ff7474;
   }
  }
 }

 &--disabled {
  @extend .food-item;
  filter: invert(20%);
 }
}

.none {
 padding: 0;
 margin: 0;
 background: none;
 color: none;
 display: hidden;
}

@media screen and (max-width: 600px) {
 .checkout__submit {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  padding: 10px;
 }
}
