@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@-webkit-keyframes pulse-keyframes {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulse-keyframes {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fade-in-opacity-keyframes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-opacity-keyframes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scale-up-keyframes {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-keyframes {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.loader {
  font: 12px "Lato", sans-serif;
}

.day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  z-index: -1;
}

.button, .checkout__button-bar .button--checkout-submit {
  padding: 7px 7px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 2px 3px #777, 0 0 3px #777;
          box-shadow: 0 2px 3px #777, 0 0 3px #777;
  border-radius: 6px;
  color: black;
  background: white;
  font: 12px "Poppins", sans-serif;
  border: none;
}

.button:enabled, .checkout__button-bar .button--checkout-submit:enabled {
  cursor: pointer;
}

.button:disabled, .checkout__button-bar .button--checkout-submit:disabled {
  -webkit-filter: opacity(30%);
          filter: opacity(30%);
}

.button:hover:enabled, .checkout__button-bar .button--checkout-submit:hover:enabled {
  background: #555;
  color: white;
}

.button--checkout-item {
  padding: 7px 7px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 2px 3px #777, 0 0 3px #777;
          box-shadow: 0 2px 3px #777, 0 0 3px #777;
  border-radius: 6px;
  color: black;
  background: white;
  font: 12px "Poppins", sans-serif;
  border: none;
  background: #f3f3f3;
  font-size: 10px;
  margin: 2px 4px;
  padding: 1px 7px;
}

.button--checkout-item:enabled {
  cursor: pointer;
}

.button--checkout-item:disabled {
  -webkit-filter: opacity(30%);
          filter: opacity(30%);
}

.button--checkout-item:hover:enabled {
  background: #555;
  color: white;
}

.day__button-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.checkout-back {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 600px auto 100px;
      grid-template-columns: auto 600px auto 100px;
      grid-template-areas: "back checkout";
}

.checkout-back__back {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: back;
  padding: 7px 7px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 2px 3px #777, 0 0 3px #777;
          box-shadow: 0 2px 3px #777, 0 0 3px #777;
  border-radius: 6px;
  color: black;
  background: white;
  font: 12px "Poppins", sans-serif;
  border: none;
  width: 100px;
  height: 30px;
  padding: 3px 20px;
  margin: 0 6px 10px 15px;
  font-size: 14px;
  background: #f3f3f3;
}

.checkout-back__back:enabled {
  cursor: pointer;
}

.checkout-back__back:disabled {
  -webkit-filter: opacity(30%);
          filter: opacity(30%);
}

.checkout-back__back:hover:enabled {
  background: #555;
  color: white;
}

.checkout {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: checkout;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 300px;
  min-height: 200px;
  min-width: 600px;
  padding: 10px;
  background: #f3f3f3;
  -webkit-box-shadow: 0 2px 3px #777, 0 0 3px #777;
          box-shadow: 0 2px 3px #777, 0 0 3px #777;
  border-radius: 6px;
}

.checkout__heading {
  font: 22px "Poppins", sans-serif;
  text-align: center;
}

.checkout__empty-text {
  font: 14px "Lato", sans-serif;
}

.checkout__board {
  padding: 3px;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: scroll;
  background: #f3f3f3;
  border-radius: 10px;
}

.checkout__button-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 10px;
  margin: 0;
}

.checkout__button-bar .button, .checkout__button-bar .button--checkout-submit {
  margin: 2px 5px;
  padding: 3px 5px;
}

.checkout__button-bar .button--checkout-submit {
  background: #b4e2b4;
}

.checkout-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font: 14px "Lato", sans-serif;
}

.checkout-item:nth-child(2n) {
  background: rgba(204, 204, 204, 0.5);
}

.checkout-item__name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 10px;
}

.checkout-item__quantity {
  padding: 0 4px;
}

.search-filter-grid {
  padding: 4px;
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.search {
  margin: 2px 20px 0 0;
}

.search input {
  font-size: 14px;
  margin: 10px 0 0 0;
  padding: 3px 4px;
  border-radius: 8px;
}

.search__alert {
  font: 14px "Lato", sans-serif;
  color: black;
}

.search-results {
  margin: 0;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 1;
  padding: 10px 0;
  -webkit-box-shadow: 0 2px 3px #777, 0 0 3px #777;
          box-shadow: 0 2px 3px #777, 0 0 3px #777;
  border-radius: 6px;
  background: #f3f3f3;
}

.search-results__container {
  padding: 0 10px;
}

.search-results__container:hover {
  background: #aaa;
  color: white;
  cursor: pointer;
}

.search-results__name {
  font: 16px "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
}

.filters__button, .filters__button--add, .filters__button--remove, .filters__button--clear-all {
  padding: 4px 18px 4px 6px;
  border-radius: 20px;
  margin: 0px 2px;
  border: solid 2px #555;
  color: black;
  font-size: 12px;
}

.filters__button:hover, .filters__button--add:hover, .filters__button--remove:hover, .filters__button--clear-all:hover {
  cursor: pointer;
}

.filters__button--add {
  background: none;
}

.filters__button--remove {
  border-color: #eee;
  background: #ddd;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px 4px 4px 6px;
}

.filters__button--clear-all {
  padding: 4px 6px;
  background: none;
}

.svg__close {
  margin: 0 2px;
  stroke: black;
  width: 10px;
  height: 10px;
}

.food-items-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.food-item, .food-item--disabled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  margin: 10px;
  height: 100px;
  background-color: #f3f3f3;
  -webkit-box-shadow: 0 2px 3px #777, 0 0 3px #777;
          box-shadow: 0 2px 3px #777, 0 0 3px #777;
  border-radius: 6px;
}

.food-item .svg__heart, .food-item--disabled .svg__heart {
  height: 50%;
  width: 50%;
  fill: #ccc;
}

.food-item__title {
  color: #444;
  font: 12px "Lato", sans-serif;
}

.food-item__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50%;
  padding: 0;
  margin: 0;
}

.food-item__button button {
  height: 30px;
  width: 20px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  border: none;
  text-transform: uppercase;
  -webkit-box-shadow: 0 2px 3px #777, 0 0 3px #777;
          box-shadow: 0 2px 3px #777, 0 0 3px #777;
  border-radius: 6px;
  border: none;
}

.food-item__button button:hover:enabled {
  background: #555;
  color: white;
  cursor: pointer;
}

.food-item__button--add {
  height: 35px;
  width: 35px;
  font-size: 18px;
}

.food-item__heart {
  padding: 4px 0 0 0;
}

.food-item__heart--fav {
  padding: 4px 0 0 0;
}

.food-item__heart--fav .svg__heart {
  fill: #ff7474;
}

.food-item__add-icon {
  font-size: 55px;
  color: #444;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.food-item--disabled {
  -webkit-filter: invert(20%);
          filter: invert(20%);
}

.add-food-item {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #ddd;
}

.add-food-item__title {
  font-size: 14px;
}

.add-food-item__icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0;
  font-size: 40px;
  color: #444;
}

.add-food-item:hover {
  -webkit-filter: invert(80%);
          filter: invert(80%);
  cursor: pointer;
}

.submit-item-container {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.submit-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  padding: 20px;
  left: 50%;
  top: 50%;
  min-width: 300px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 2px 3px #777, 0 0 3px #777;
          box-shadow: 0 2px 3px #777, 0 0 3px #777;
  border-radius: 6px;
  background: #f3f3f3;
}

.submit-item__close-icon {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.submit-item__close-icon .svg__close {
  height: 30px;
  width: 30px;
}

.submit-item__close-icon .svg__close:hover {
  cursor: pointer;
}

.submit-item__text {
  padding: 15px 5px;
  font: 16px "Lato", sans-serif;
}

.submit-item__text-input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 16px;
  margin: 5px 0;
  padding: 2px;
  width: 200px;
}

.submit-item__form {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.submit-item__select {
  width: 200px;
  font-size: 16px;
  margin: 5px 0;
  padding: 2px;
}

.submit-item__button-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.submit-item__button {
  margin: 10px;
}

.none {
  padding: 0;
  margin: 0;
  background: none;
  color: none;
  display: hidden;
}

@media screen and (max-width: 750px) {
  .checkout-back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 600px) {
  .checkout__submit {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px;
    padding: 10px;
  }
  .search-filter-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .checkout-back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .checkout {
    width: auto;
    min-width: auto;
  }
  .filters {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    overflow-x: scroll;
    width: 100%;
  }
  .filters__button, .filters__button--add, .filters__button--remove, .filters__button--clear-all {
    white-space: nowrap;
  }
  .checkout-item {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    white-space: nowrap;
  }
  .checkout-item__name {
    white-space: nowrap;
    overflow-x: scroll;
  }
}
/*# sourceMappingURL=edit-menu.css.map */