@import "../../../shared/sass/animations";
@import "../../../shared/sass/base";

@mixin heading {
 font: 400 28px $main-font;
 color: $bkgnd-light;
 background-color: #555;
 opacity: 0.7;
}

html {
 scroll-behavior: smooth;
}

.home-container {
 display: flex;
 flex-flow: column;
 align-items: center;
 justify-content: center;
 background: $bkgnd;
 background: linear-gradient(to left, $bkgnd, $bkgnd-light);
 background-size: 120%;
 padding: 0 2rem;
}

.title-container {
 z-index: 1;
 h1 {
  @include fade-in(0.5s);
  margin: 20px;
  span {
   color: $secondary;
   font: 800 clamp(40px, 18vw, 160px) / 40% $main-font;
   white-space: pre;
   text-shadow: 2px 3px 1px $highlight;
  }
 }

 .sub-title-container {
  display: flex;
  text-align: center;
  justify-content: flex-end;
  flex-flow: column;
  cursor: pointer;

  h2 {
   @include fade-in(1.5s);
   white-space: nowrap;
  }

  p {
   color: #777;
   //  text-shadow: 1px 1px 1px #bbb;
   @include scale-up;
  }
  &:hover {
   .down-arrow {
    filter: invert(30%);
   }
  }
 }
}

.down-arrow {
 @include pulse;
 @include shadow-radius;
 text-transform: uppercase;
 color: black;
 background: white;
 border: none;

 &:enabled {
  cursor: pointer;
 }
 &:disabled {
  filter: opacity(30%);
 }
 &:hover:enabled {
  background: #555;
  color: white;
 }
}
h2 {
 padding: 4px 20px;
 @include heading;
}

.cta-container {
 padding: 200px 0 100px 0;
 display: flex;
 flex-direction: row;
 text-align: center;
 justify-content: center;
 @include fade-in(2s);

 button {
  text-transform: uppercase;
  margin: 20px 15px;
  padding: 7px 7px;
  @include shadow-radius;
  color: black;
  background: white;
  font: 15px "Lato", sans-serif;
  border: none;
  opacity: 0.8;
  &:enabled {
   cursor: pointer;
  }
  &:disabled {
   filter: opacity(30%);
  }
  &:hover:enabled {
   background: #555;
   color: white;
  }
 }

 .form {
  max-width: 500px;
  margin: 0 10px 80px 0;
  background-color: $secondary;
  @include shadow-radius();
  select,
  option {
   font-size: 12px;
   margin: 10px;
  }
  .delete-user {
   span {
    font-size: 12px;
   }
  }
 }

 .signup {
  margin: 80px 0 0 0;
  padding: 70px 0;
  background-color: $highlight-dark;
  @include shadow-radius();
  button {
   margin: 0 5px;
  }
  .signup-input-container {
   padding: 10px;
  }
  .signup-errortext {
   font-size: 12px;
  }
 }
}

@media screen and (max-width: 600px) {
 .cta-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 200px 0 !important;
  .form {
   margin: 10px !important;
   padding: 0 !important;
   width: 100%;
  }
  .signup {
   margin: 10px 10px 200px 10px !important;
   padding: 0 0 20px 0 !important;
   width: 100%;
  }
 }
}
