@import "../../../shared/sass/animations";
@import "../../../shared/sass/base";

.home {
 padding: 0;
 margin: 0;
 min-height: 100vh;
 min-width: 100vw;
 background: no-repeat url("../../../assets/bkgd.jpg");
 display: grid;
 grid-template-columns: 20px 1fr 1fr 20px;
 grid-template-rows: 0.3fr 2.5fr 0.2fr;
 grid-template-areas:
  "title__header title__header title__header title__header"
  ". welcome login ."
  ". . . .";
 justify-content: center;
 align-content: center;
 &__header {
  grid-area: title__header;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: $bkgd-white;
  font-family: $heading-font;
  box-shadow: 0 2px 3px #777, 0 0 3px #777;
 }
 .button {
  margin: 10px 5px 10px 5px;
  @include btn;
  &--signup {
   @extend .button;
   font-size: 12px;
   margin: 20px 5px 10px 10px;
   padding: 4px;
  }
 }
 .svg__menu {
  stroke: black;
  fill: none;
  margin: 6px 15px;
 }
 .alert {
  font: 12px $main-font;
 }
}

.welcome {
 grid-area: welcome;
 display: flex;
 flex-direction: column;
 padding: 30px;
 margin: 50px auto 0 auto;
 width: 340px;
 height: 300px;
 background: $bkgd;
 @include shadow-radius;
 @include fade-in(1s);
 &__text {
  font: 30px $heading-font;
 }
 &__sub-text {
  font: 14px $main-font;
  color: #777;
  @include fade-in(2s);
 }
}

.login {
 grid-area: login;
 display: flex;
 flex-direction: column;
 padding: 30px;
 margin: 50px auto 0 auto;
 width: 340px;
 height: 300px;
 background: $bkgd-white;
 overflow: hidden;
 @include shadow-radius;
 @include fade-in(1s);
}

.signin {
 align-self: stretch;
 justify-self: stretch;
 padding: 20px 10px 10px 0;
 font: 16px $main-font;
 &__heading {
  font-size: 18px;
 }
}

.signin-form {
 &__select {
  width: 130px;
  font-size: 16px;
  margin: 5px 0;
  padding: 2px;
 }
}

.signup {
 padding: 25px 10px 20px 0;
 &__heading {
  font: 14px $main-font;
  padding: 0 10px 0 0;
 }
}

.user-signup {
 &__heading {
  font: 16px $main-font;
  padding: 20px 0 0 0;
 }
 &__error {
  font: 12px $main-font;
 }
}

.user-delete__text {
 font: 18px $main-font;
 margin: 0 15px 0 0;
}

@media screen and (max-width: 900px) {
 .home {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  &__header {
   width: 100%;
   margin: 0;
   padding: 0;
  }
 }
}
