@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@-webkit-keyframes pulse-keyframes {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulse-keyframes {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fade-in-opacity-keyframes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-opacity-keyframes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scale-up-keyframes {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-keyframes {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

html,
body,
.home {
  padding: 0;
  margin: 0;
  min-height: 100%;
  width: 100vw;
  min-width: 100vw;
  background: #f3f3f3;
  background-image: url("./image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px 1fr 0.75fr 20px;
      grid-template-columns: 20px 1fr 0.75fr 20px;
  -ms-grid-rows: 0.3fr 2.5fr 0.2fr;
      grid-template-rows: 0.3fr 2.5fr 0.2fr;
      grid-template-areas: "title__header title__header title__header title__header" ". title signup ." ". . . .";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.home__header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: title__header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  background-color: #f3f3f3;
  font-family: "Poppins", sans-serif;
  -webkit-box-shadow: 0 2px 3px #777, 0 0 3px #777;
          box-shadow: 0 2px 3px #777, 0 0 3px #777;
}

.home__icon {
  width: 25px;
  margin: 4px 15px;
}

.home-title {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  margin: 50px auto 0 auto;
  width: 340px;
  height: 270px;
  background: #f3f3f3;
  -webkit-box-shadow: 0 2px 3px #777, 0 0 3px #777;
          box-shadow: 0 2px 3px #777, 0 0 3px #777;
  border-radius: 6px;
  -webkit-animation: fade-in-opacity-keyframes 1 1s ease-in;
          animation: fade-in-opacity-keyframes 1 1s ease-in;
}

.home-title__sub-title {
  font: bold 25px "Poppins", sans-serif;
}

.home-title__sub-text {
  font: 14px "Lato", sans-serif;
  color: #777;
  -webkit-animation: fade-in-opacity-keyframes 1 2s ease-in;
          animation: fade-in-opacity-keyframes 1 2s ease-in;
}

.button {
  margin: 10px 5px 10px 0;
  padding: 7px 7px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 2px 3px #777, 0 0 3px #777;
          box-shadow: 0 2px 3px #777, 0 0 3px #777;
  border-radius: 6px;
  color: black;
  background: white;
  font: bold 12px "Poppins", sans-serif;
  border: none;
  opacity: 0.8;
}

.button:enabled {
  cursor: pointer;
}

.button:disabled {
  -webkit-filter: opacity(30%);
          filter: opacity(30%);
}

.button:hover:enabled {
  background: #555;
  color: white;
}

.home__forms {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: signup;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  margin: 70px 12px;
  -webkit-box-shadow: 0 2px 3px #777, 0 0 3px #777;
          box-shadow: 0 2px 3px #777, 0 0 3px #777;
  border-radius: 6px;
  background: #f3f3f3;
  width: 340px;
  -webkit-animation: fade-in-opacity-keyframes 1 1s ease-in;
          animation: fade-in-opacity-keyframes 1 1s ease-in;
}

.signin__heading,
.signup__heading {
  font: 16px "Lato", sans-serif;
  padding: 20px 10px 20px 0;
}

.form__signin {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

.input__heading {
  font: 16px "Lato", sans-serif;
  padding: 20px 0 0 0;
}

.user-delete__text {
  font: 18px "Lato", sans-serif;
  margin: 0 15px 0 0;
}

.input__errortext {
  font: 12px "Lato", sans-serif;
}

.form__select {
  width: 130px;
  margin: 5px 0;
}

.alert {
  font: 12px "Lato", sans-serif;
}

@media screen and (max-width: 900px) {
  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }
  .home__header {
    width: 140vw;
  }
}
/*# sourceMappingURL=home.css.map */