@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@-webkit-keyframes pulse-keyframes {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulse-keyframes {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fade-in-opacity-keyframes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-opacity-keyframes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scale-up-keyframes {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-keyframes {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.loader {
  font: 12px "Lato", sans-serif;
}

.home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px 1fr 1fr 20px;
      grid-template-columns: 20px 1fr 1fr 20px;
  -ms-grid-rows: 0.3fr 2.5fr 0.2fr;
      grid-template-rows: 0.3fr 2.5fr 0.2fr;
      grid-template-areas: "title__header title__header title__header title__header" ". welcome login ." ". . . .";
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  background: no-repeat url("../../../assets/bkgd.jpg");
}

.home__header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: title__header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f3f3f3;
  -webkit-box-shadow: 0 2px 3px #777, 0 0 3px #777;
          box-shadow: 0 2px 3px #777, 0 0 3px #777;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}

.home .button {
  margin: 10px 5px 10px 5px;
  padding: 7px 7px;
  border: none;
  border-radius: 6px;
  color: #000;
  background: white;
  text-transform: uppercase;
  font: 12px "Poppins", sans-serif;
  -webkit-box-shadow: 0 2px 3px #777, 0 0 3px #777;
          box-shadow: 0 2px 3px #777, 0 0 3px #777;
}

.home .button:enabled {
  cursor: pointer;
}

.home .button:disabled {
  -webkit-filter: opacity(30%);
          filter: opacity(30%);
}

.home .button:hover:enabled {
  background: #555;
  color: white;
}

.home .button--signup {
  font-size: 12px;
  margin: 20px 5px 10px 10px;
  padding: 4px;
}

.home .svg__menu {
  stroke: #000;
  fill: none;
  margin: 6px 15px;
}

.home .alert {
  font: 12px "Lato", sans-serif;
}

.welcome {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: welcome;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  margin: 50px auto 50px auto;
  width: 340px;
  height: 300px;
  background: #f3f3f3;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 3px #777, 0 0 3px #777;
          box-shadow: 0 2px 3px #777, 0 0 3px #777;
  -webkit-animation: fade-in-opacity-keyframes 1 1s ease-in;
          animation: fade-in-opacity-keyframes 1 1s ease-in;
}

.welcome__text {
  font: 30px "Poppins", sans-serif;
}

.welcome__sub-text {
  font: 14px "Lato", sans-serif;
  color: #777;
  -webkit-animation: fade-in-opacity-keyframes 1 2s ease-in;
          animation: fade-in-opacity-keyframes 1 2s ease-in;
}

.login {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: login;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  margin: 50px auto 0 auto;
  width: 340px;
  height: 300px;
  background: #f3f3f3;
  overflow: scroll;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 3px #777, 0 0 3px #777;
          box-shadow: 0 2px 3px #777, 0 0 3px #777;
  -webkit-animation: fade-in-opacity-keyframes 1 1s ease-in;
          animation: fade-in-opacity-keyframes 1 1s ease-in;
}

.signin {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 20px 10px 10px 0;
  height: 200px;
  font: 16px "Lato", sans-serif;
}

.signin__heading {
  font-size: 18px;
}

.signin-form__select {
  width: 130px;
  font-size: 16px;
  margin: 5px 10px;
  padding: 2px;
}

.signup {
  padding: 25px 10px 20px 0;
}

.signup__heading {
  font: 14px "Lato", sans-serif;
  padding: 0 10px 0 0;
}

.user-signup__heading {
  padding: 20px 0 0 0;
  font: 16px "Lato", sans-serif;
}

.user-signup__input {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 16px;
  width: 120px;
  margin: 0 10px;
}

.user-signup__error {
  display: block;
  position: relative;
  font: 12px "Lato", sans-serif;
}

.user-delete__text {
  margin: 0 15px 0 0;
  font: 18px "Lato", sans-serif;
}

@media screen and (max-width: 900px) {
  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home__header {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
/*# sourceMappingURL=home.css.map */