@mixin pulse {
 animation: 1s ease infinite pulse-keyframes;
}
@mixin fade-in($time) {
 animation: fade-in-opacity-keyframes 1 $time ease-in;
}

@mixin scale-up {
 animation: scale-up-keyframes 5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

// keyframes

@keyframes pulse-keyframes {
 0% {
  transform: scale(1);
 }

 25% {
  transform: scale(1.2);
 }

 50% {
  transform: scale(1);
 }
}

@keyframes fade-in-opacity-keyframes {
 0% {
  opacity: 0;
 }
 100% {
  opacity: 1;
 }
}

@keyframes scale-up-keyframes {
 0% {
  transform: scale(0.8);
 }
 100% {
  transform: scale(1);
 }
}
