@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

$color-dark: #444;
$color-light: #f3f3f3;
$color-main: #000;

$heading-font: "Poppins", sans-serif;
$main-font: "Lato", sans-serif;

@mixin shadow-radius {
 border-radius: 6px;
 box-shadow: 0 2px 3px #777, 0 0 3px #777;
}

@mixin btn {
 padding: 7px 7px;
 border: none;
 border-radius: 6px;
 color: $color-main;
 background: white;
 text-transform: uppercase;
 font: 12px "Poppins", sans-serif;
 box-shadow: 0 2px 3px #777, 0 0 3px #777;
 &:enabled {
  cursor: pointer;
 }
 &:disabled {
  filter: opacity(30%);
 }
 &:hover:enabled {
  background: #555;
  color: white;
 }
}

.loader {
 width: 60px;
 height: 60px;
 margin: 12px;
 .svg__menu {
  fill: none;
  stroke: #000;
  width: 60px;
  height: 60px;
  @include spin;
 }
}
