@import "../../../shared/sass/animations";
@import "../../../shared/sass/base";

.main {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 width: 100%;
 height: 100%;
 background: inherit;
 &__text {
  margin: 14px;
  padding: 14px;
  color: $color-main;
  font: 40px $heading-font;
  background: $color-light;
  @include shadow-radius;
 }
 &__sub-text {
  padding: 14px;
  color: $color-main;
  font: 20px $main-font;
  background: $color-light;
  @include shadow-radius;
 }
}
