@import "../../../shared/sass/animations";
@import "../../../shared/sass/base";

body {
 background: #ccc;
}
.header {
 display: flex;
 flex-flow: row;
 flex-wrap: nowrap;
 align-items: center;
 justify-items: center;
 width: 100%;
 margin: 0 0 10px 0;
 padding: 3px 0 7px 0;
 background-color: $color-light;
 box-shadow: 0px 3px 3px 0px rgba(66, 66, 66, 0.3);
 &__title {
  color: $color-main;
  margin: 0;
  padding: 0 20px 0 8px;
  font-size: 20px;
  font-family: $heading-font;
 }
 &__username {
  color: $color-main;
  font: 14px $heading-font;

  padding: 0 20px 0 0;
  margin: 0 30px 0 auto;
 }
 &__signout {
  margin: 0 40px 0 0;
  @include btn;
 }
 .svg__menu {
  margin: 0 0 0 30px;
  padding: 0;
  width: 25px;
  fill: none;
  stroke: $color-main;
  &:hover {
   @include pulse;
  }
 }
}

@media screen and (max-width: 400px) {
 .header {
  &__icon {
   margin: 0 0 0 30px;
   padding: 0;
   width: 25px;
   &:hover {
    @include pulse;
   }
  }
  &__title {
   display: none;
  }
 }
}
