@import "../../../shared/sass/animations";
@import "../../../shared/sass/base";

//
// Note: to change icon svg's color, go into Header.tsx and change MIcon 'color' prop
//

.header {
 display: flex;
 flex-flow: row;
 flex-wrap: nowrap;
 align-items: center;
 justify-items: center;
 width: 100%;
 margin: 0 0 10px 0;
 padding: 3px;
 background-color: $bkgd-white;
 box-shadow: 0px 3px 3px 0px #999;
}

.header__title {
 color: $main;
 margin: 0;
 padding: 0 20px 0 8px;
 font-size: 20px;
 font-family: $heading-font;
}

.header__icon {
 padding: 0 0 0 30px;
 width: 20px;
 &:hover {
  @include pulse;
 }
}

.header__username {
 color: $main;
 font: 14px $heading;

 padding: 0 20px 0 0;
 margin: 0 30px 0 auto;
}

.header__signout {
 margin: 0 40px 0 0;
 @include btn;
}
